<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>    
    <td><%= user.has_gender? %></td>
    <td><%= user.has_age? %></td>
    <td><%= user.has_interests? %></td>
    <td><%= user.can_delete? %></td>
  </tr>
<% end %>