<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>    
    <td><%= user.gender_info %></td>
    <td><%= user.age_info %></td>
    <td><%= user.interests_info %></td>
    <td><%= user.can_delete %></td>
    <td><%= link_to 'Send email', send_mail_home_index_path(user_id: user.id), method: :post %></td>
  </tr>
<% end %>