<h1>User listing</h1>


<%= search_form_for @q, url: home_index_path do |f| %>
  <%= f.label :email_cont %>
  <%= f.search_field :email_cont %>
  <%= f.submit "Search", class: 'btn btn-primary' %>
<% end %>

<table class="table">
  <thead>
    <%= render 'nav'%>
  </thead>
  <tbody>
    <%= render 'listing' %>
  </tbody>
</table> 
