<!DOCTYPE html>
<html>
  <head>
    <title>RecruitmentWebApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <h2>Hi! <%= current_user.email %></h2>
      <%= link_to 'Home', home_index_path %>
      <% if current_user.admin? %>
        <%= link_to 'Admin Dashboard', admin_index_path%>
      <% end %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <% end %>
    
    <%= render 'layouts/flash_messages' %>
    <hr>
    <%= yield %>
  </body>
</html>
